<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <title>Rango - About</title>
</head>

<body>
    <h1>Rango says...</h1>
    <div>
        here is the about page.<br />
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
    <div>
        This tutorial has been put together by <strong>Andrei Gogu</strong>
    </div>
    <div>
        <a href="/rango/">Index</a>
    </div>
</body>

</html>